:root {
    background-color: lightpink;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  
  body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  #start {
    background-color: turquoise;
    padding: 20px 40px;
    border-radius: 7px;
    color: white;
  }
  
  #timerDisplay {
    margin-bottom: 20px;
  }
  
  #question {
    margin-bottom: 10px;
  }
  
  .choice {
    background-color: lightseagreen;
    color: white;
    padding: 10px 20px;
    border-radius: 7px;
  }